.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.username input, .password input, .email input {
  font-size: 18px;
  margin-left: 15px;
}

.username label, .password label, .email label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.submit button {
  padding: 10px 20px;
  background: #ccc;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.submit a {
  font-size: 14px;
}

.warn-msg {
  color: #f00;
  font-size: 14px;
  font-weight: bold;
}
